<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
	
    <bean id="taskAction" class="ns.major.business.action.TaskAction" scope="prototype">
    	<property name="taskServ" ref="taskServ"/>
		<property name="baseDataServ" ref="baseDataServ"/>
	</bean>
	
	<bean id="baseDataServ" class="ns.major.common.service.impl.BaseDataServiceImpl"/>
	<bean id="taskServ" class="ns.major.business.service.impl.TaskServiceImpl"/>
	
	<bean id="taskMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="ns.major.business.dao.mapper.TaskMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	
	
	
	
	<bean id="taskUnitAction" class="ns.major.business.action.TaskUnitAction" scope="prototype">
		<property name="taskUnitService" ref="taskUnitService"/>
		<property name="baseDataService" ref="baseDataService"/>
	</bean>
	   
	<bean id="taskUnitService" class="ns.major.business.service.impl.TaskUnitServiceImpl" />
	<bean id="baseDataService" class="ns.major.common.service.impl.BaseDataServiceImpl"/>
	
	<bean id="taskUnitMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">  
		<property name="mapperInterface" value="ns.major.business.dao.mapper.TaskUnitMapper"/>  
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />  
	</bean>
	
</beans>