<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ns.major.audit.dao.mapper.SystemExceptionsMapper">
	<resultMap type="SysException" id="systemExceptionMap">
		<id property="sysExceptId" column="sysExceptId"/>
		<result property="userId" column="userId"/>
		<result property="sysExceptIp" column="sysExceptIp"/>
		<result property="eModuleName" column="eModuleName"/>
		<result property="sysExceptTime" column="sysExceptTime"/>
		<result property="exceptionCont" column="exceptionCont"/>
	</resultMap>
	<select id="getSysExceptionList_Count" resultMap="account">
		select count(SysExceptId) count from nm_sysexception;
	</select> 
	<!-- 获取系统异常日志列表（分页） -->
	<select id="query" resultType="SysException" parameterType="ns.major.audit.query.SysExceptionQuery">
		select * from nm_sysexception
		<where>
			<if test="userName !=null and userName !=''">
				and userName like concat('%',#{userName},'%')
			</if>
			<if test="eModuleName !=null and eModuleName !=''">
				and eModuleName=#{eModuleName}
			</if>
			<if test="startDate !=null and startDate!=''">
				and sysExceptTime &gt; #{startDate} 
			</if>
			<if test="endDate !=null and endDate!=''">
				and sysExceptTime &lt; concat(#{endDate},' 23:59:59') 
			</if>
		</where>
		order by sysExceptTime desc
	</select>
	<resultMap type="Integer" id="account">  
	    <result column="count" jdbcType="INTEGER" javaType="Integer" />
	</resultMap>
	<insert id="logSysException" parameterType="java.util.Map">
		 insert into nm_sysexception(UserId,UserName,SysExceptIp,SysExceptTime,EModuleName,ExceptionCont) values
		 (#{UserId},#{UserName},#{SysExceptIp},Now(),#{EModuleName},#{ExceptionCont})
	</insert>
	<select id="getInitEModuleName" resultType="java.lang.String">
		select EModuleName from nm_sysexception GROUP BY EModuleName;
	</select>
	<delete id="delete" parameterType="java.util.List" >
		delete from nm_sysexception where sysExceptId in 
	    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
	     	#{item}
	    </foreach>
	</delete>
	<insert id="insertOneSysExcption" parameterType="ns.major.audit.dao.domain.SysException">
		insert into nm_sysexception(UserId,UserName,SysExceptIp,SysExceptTime,EModuleName,ExceptionCont)values
		(#{userId},#{userName},#{sysExceptIp},#{sysExceptTime},#{EModuleName},#{exceptionCont})
	</insert>
</mapper>